.header
  color: white
  font-weight: bolder
  z-index: 9999
  width: 100%
  position: fixed
  top: 0
  transition: all ease 0.5s
  -webkit-app-region: drag

  .title
    font-size: 25px
    padding-top: 15px
    padding-left: 5px

  .header-button
    margin-right: 9px
    margin-left: 9px
    opacity: 0.5
    font-size: 23px
    cursor: pointer
    transition: all ease 0.5s
    -webkit-app-region: no-drag
    &:hover, &:focus
      opacity: 1
