@import classes
@import header

*
  padding: 0
  margin: 0
  border: none
  outline: none
  font-family: Arial
  text-decoration: none
  -webkit-appearance: none

body
  background-color: rgba(0, 0, 0, 0.5)
